/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Poppin Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');


/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

button,
input {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
    line-height: 1.5em;
}


/********* Common CSS **********/
body {
    width: 500vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #222;
    /*line-height: 1.7em;*/
    /*overflow: hidden;*/
}

.container {
    width: 500vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}

section {
    width: 100vw;
    height: 100vh;
    float: left;
}
section > div {
}

.visual {
    position: relative;

}

.visual-inner {
}

.visual-inner h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "G마켓 산스 TTF Bold";
    font-size: 100px;
    letter-spacing: 6.5px;
    line-height: 1.1;
    font-weight: bold;
}

.visual-content {
}

.visual-content img {
    width: 100%;
}

.menubar {
    width: 746px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    line-height: 80px;
    display: flex;
    text-align: center;
    margin-right: -300px;
    justify-content: space-around;
    color: #fff;
    z-index: 1;
}

.menubar:before {
    content: '';
    background: url('../images/boxblur.png') no-repeat center/100%;
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.menubar span {
    font-size: 20px;
}

.menubar span.all {
    transform: rotate(90deg);
}

.menubar span:nth-child(2) {
    padding: 0 210px;
    font-family: "G마켓 산스 TTF Bold";
    letter-spacing: 5px;
    font-weight: bold;
}

.menubar span a {
    color: #fff;
}
